<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>House Music Party</title>
  {% load static %}  
  {% comment %} ?? loads all the static file present  {% endcomment %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
  />
</head>

<body>
  <div id="main">
    <div id= "app"></div> {% comment %}  the react here is going to take care of this {% endcomment %}
  </div> <!-- this is where your app will be rendered -->
  <script src="{% static "frontend/main.js" %}"></script> <!-- this is the bundled JavaScript file -->
</body>
</html>
